.noHUD {
    background: rgba(0, 0, 0, 0.5) !important;
}

#o101-main {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: right;
    font-weight: bold;
}

div.row:first-child {
    width: 25%;
    margin-top: 5%;
}

div.row:nth-child(2) {
    width: 70%;
    margin-top: 9%;
}

.row .item, .row .item-small {
    display: flex;
}

.item-value, .item-unit, .item-small-value, .item-small-unit {
    flex: 1;
    line-height: 160%;
}

.item-value {
    min-width: 90%;
}

#cur-power .item-value {
    font-size: 350%;
    line-height: 100%;
}

#cur-power .item-unit {
    font-size: 75%;
    margin-top: 21%;
}

#cur-draft .item-value {
    font-size: 200%;
}

#cur-draft .item-unit {
    font-size: 75%;
    margin-top: 14%;
}

.item-small-value {
    min-width: 65%;
}

.item-small-unit {
    font-size: 50%;
    margin-top: 16%;
}