.noHUD {
    background: rgba(0, 0, 0, 0.5) !important;
}

#o101-main {
    width: 100%;
    display: flex;
    clear: both;
    text-align: right;
    font-weight: bold;
}


div.row-left {
    width: 30%;
    line-height: 175%;
    margin-top: 10px;
}
div.row-left div.item {
    width: 100%;
    font-size: 125%;
}
div.row-left .unit {
    width: 30%;
    display: inline-block;
    font-size: 40%;
    text-align: left;
    margin-left: 5px;
}


div.row-right {
    width: 70%;
    line-height: 175%;
    margin-top: 18px;
}
div.row-right div.item {
    width: 100%;
    font-size: 350%;
    font-weight: bolder;
    margin-top: 15px;
}
div.row-right .unit {
    width: 15%;
    display: inline-block;
    font-size: 30%;
    text-align: left;
    padding-left: 5px;
    font-weight: bold;
}
div.row-right #cur-draft {
    font-size: 250%;
    font-weight: bold;
    margin-top: 25px;
}