#content {
    background-image: linear-gradient(135deg, hsl(var(--theme-bg-hue) var(--theme-bg-sat) var(--theme-bg-light)/var(--final-bg-opacity)), hsl(var(--theme-bg2-hue) var(--theme-bg2-sat) var(--theme-bg2-light)/var(--final-bg-opacity)));
    border-radius: 6px;
}

#dashboard {
    visibility: hidden;
    display: flex;
    z-index: 10;
    position: relative;
    width: auto;
    height: auto;
    margin: auto;
}
#action-section {
     z-index: 11;
     position: relative;
     height: 100%;
}

#button-section {
    z-index: 12;
    position: relative;
    width: auto;
    height: auto;
    margin: auto;
}
#titlebar-activator {
    z-index: 13;
    position: absolute;
    width: 100%;
    height: 100%;
}

div .datafields {
    padding: 0.5em 0.125em;
    display: flex !important;
}

div .datafield {
    background: rgba(0, 0, 0, 0.4) !important;
    font-variant-numeric: tabular-nums !important;
    font-size: 2em;
    font-weight: 650;
    padding: 0.2em 0.25em 0 0.25em;
    border-radius: 3px;
    line-height: 0.72em;
}

#buttons {
    position: relative;
    bottom: 0;
}

#actions div.section {
    display: none;
    width: 200px;
    font-weight: 600;
    padding: 0 0 0.5em 0.5em;
}

div.action-title {
    background: rgba(255, 255, 255, 0.6) !important;
    color: #000;
    border-radius: 3px;
    text-align: center;
}

div .button {
    background: rgba(0, 0, 0, 0.4) !important;
    padding: 5px;
    display: inline-block;
    border-radius: 3px;
}

div .button img {
    width: 40px;
    filter: brightness(0) invert(1);
}

div.action-item {
    background: rgba(0, 0, 0, 0.4) !important;
    display: flex !important;
    overflow: hidden; 
    white-space: nowrap;
    cursor: pointer;
}
div.action-item:hover {
   background-color: rgba(0, 0, 0, 0.6) !important;
}

div.action-item-spacer {
    line-height: 0.25em;
}

div.action-item-name {
    width: 120px;
    overflow: hidden;
    padding-left: 0.2em;    
}
div .action-item-team {
    margin-top: -0.1em;
    width: 3em;
    overflow: hidden;
}
div .action-item-team span {
    background-image: linear-gradient(var(--o101lg1), var(--o101lg2));
    border-radius: 4px;
    font-weight: var(--weight);
    padding: -1em 0 0 0;
    color: var(--o101c) !important;
    zoom: 0.6;
    
}
div .action-item-flag {
    width: 1.5em;
}
div .action-item-flag img {
    margin-top: 0.3em;
    max-width: 3vw !important;
    zoom: 60%;
}

div .datafield abbr {
    font-size: 40%;
    padding-left: 2px;
}