.noHUD {
  background: rgba(0, 0, 0, 0.5) !important;
}

table {
  border-collapse: collapse;
}
table abbr.unit {
  font-size: 0.82em;
  opacity: 0.8;
  margin-left: 0.1em;
}
table tr {
  --dom-index: 0;
  --data-index: 0;
  --height: 2.6em;
  height: var(--height);
}
table tr.hiding {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
table tr.hidden {
  display: none;
}
table td {
  text-align: left;
  padding: 0.18em 0.3em;
  font-variant: tabular-nums;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: text;
  user-select: text;
}
table td .badge {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.15em;
}
table td .badge.category {
  font-variant: none;
  font-size: 0.86em;
  padding: 0.2em 0.26em 0.1em;
  margin-right: 0.5em;
}

#content {
  scroll-behavior: smooth;
  padding: 0;
  overflow: auto;
  overflow: overlay;
  position: relative;
  font-size: calc(var(--font-scale) * 1em);
}

.autoscroll table tr.watching {
  scroll-snap-align: center;
}
.autoscroll #content {
  scroll-snap-type: y proximity;
}

#content table tr {
  height: auto !important;
}
#content table tr td {
  padding: 0px !important;
  margin: 0px !important;
  line-height: 100%;
}

div .o101-head {
  color: black;
  background-color: white;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  position: sticky;
  top: 0;
  line-height: 125%;
}

div .o101 .row-top, div .o101 .row-bottom {
  display: flex;
  clear: both;
  padding: 0px 4px 0px 4px; /*top right bottom left*/
  width: 100%;
}

div .o101 .row-top {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: larger;
}
div .o101 .col-f-last .badge {
  zoom: 0.7;
  margin-top: -4px;
}
div .o101 .col-f-last {
  width: 70%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
div .o101 .col-team {
  width: 30%;
  zoom: 0.6;
  text-align: right;
}

div .o101 .row-bottom {
  border-bottom: grey 1px double;
  font-size: smaller;
}
div .o101 .col-gap {
  width: 20%;
  text-align: left;
  margin-left: 0%;
}
div .o101 .col-gap-distance {
  color: lightgrey;
  width: 80%;
  text-align: left;
  padding-left: 3%;
}
div .o101 .col-hr-cur {
  color: lightgrey;
  text-align: right;
  padding-right: 3%;
}
div .o101 .col-wkg-cur {
  text-align: right;
  font-size: larger;
  font-weight: bold;
}
div .o101 .col-wkg-cur-unit {
  text-align: right;
  padding-left: 1%;
}

.rider-in-group {
  /*background: rgb(0, 0, 0) !important;*/
}
.rider-in-group-nohud {
  /*background: rgba(0, 0, 0, 0.4) !important;*/
}
.rider-me {
  background: rgb(17, 146, 204) !important;
}
.rider-me-nohud {
  background: rgba(17, 146, 204, 0.6) !important;
}
.rider-special {
  background: rgb(243, 109, 63) !important;
}
.rider-special-nohud {
  background: rgba(243, 109, 63, 0.6) !important;
}
.wkg-orange {
  color: orange;
}
.wkg-red {
  color: red;
}
.wkg-purple {
  color: purple;
}