form#fields {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
}

form#fields .title {
    flex: 1 0 100%;
}

form#fields .field-group {
    background: #3333;
    padding: 1em 1.5em;
    margin: 1em;
    border-radius: 0.28em;
    flex: 1 1 0;
}

form#fields .field-group label {
    justify-content: space-between;
}

div.sub {
    margin-left: 25px;
}